IP_ADDRESS=10.10.7.23
DATABASE_URL=mongodb+srv://FundRaising:bAhZbV0FXEMltluJ@cluster0.hg2ad.mongodb.net/FundRaising?retryWrites=true&w=majority&appName=Cluster0

NODE_ENV=development
PORT=5000
BCRYPT_SALT_ROUNDS=10

JWT_SECRET=change_me_dev_secret_please
JWT_EXPIRE_IN=7d

SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=Admin@123

REDIS_HOST=redis-17682.c90.us-east-1-3.ec2.redns.redis-cloud.com
REDIS_PORT=17682
REDIS_USERNAME=default
REDIS_PASSWORD=dmTczcAMkQNpbWiu7ARLhUrOcTD2IBXy

# REDIS_HOST=redis-12534.c14.us-east-1-2.ec2.redns.redis-cloud.com
# REDIS_PORT=12345
# REDIS_USERNAME=default
# REDIS_PASSWORD=MNFwupizqtcXhXvDVec0G0SNumc4wIBn

EMAIL_FROM=ismail.webtest@gmail.com
EMAIL_USER=ismail.webtest@gmail.com
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_PASS=xxhbvmkweovttswk




